header {
    display: flex;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: #F25A70;
    text-shadow: 5px 5px 2.5px black;
    font-size: 20px;
    font-family: "Press Start 2p";
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF ;
    font-size: 20px;
    font-family: "FiraCode";
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
}

a::before{
    content: " ";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px ;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px 0px 20px;
    box-shadow: 5px 5px 0 black;
    margin: 0px;
    transition: transform 1s ease-in-out;
}

#button:hover {
    transform: scale(1.08);
}
.link-normal:hover{
    color: #F25A70;
}

#logo{
    width: 60px;
    height: 60px;
}
