.link-normal{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF ;
    font-size: 20px;
    font-family: "FiraCode";
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
}

.link-normal::before{
    content: " ";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px ;
}

.link-normal:hover{
    color: #F25A70;
}
