.main-section{
    background-image: url(../../assets/img/PIXELARTLOGO.jpg);
    border-bottom: 10px solid hsl(0, 0%, 0%);
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 116px 0px 0px 91px;
}

.main-section .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-section .btn-nav{
    display: flex;
    justify-content: space-around;
}

.main-section .box{
    margin-bottom: 38px;
}