.main-title{
    color: #b49286;
    text-shadow: 3px 3px black;
    font-size:40px;
    font-family: "Press Start 2p", sans-serif;
    margin-bottom: 28px;
}

.box .subtitle{ /*FIM DA DIV (ULTIMO)*/
    color: #FFF;
    text-shadow: 3px 3px black;
    font-size: 30px;
    font-family: "Press Start 2p";
}