.projetos{
    background-color: #000;
    border-bottom: 10px solid #744253;
}
.projetos .wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.main-title.-third{
    color: #fff;
    font-size:40px;
    font-family: "Press Start 2p", sans-serif;
    padding-top: 50px;
    text-align: center;
    margin: 0px;
}


/*article*/

.projetos .projects{
    display: flex;
    align-items: center;
}

.projects .icons-container{
    margin-top: 50px;
    padding-bottom: 100px;
}

.img-container{
    background-color: #4d2b36;
    box-shadow: 4px 4px 0 #fff;
    padding: 5px;
}

.img-container.img-container.-second{
    background-color: #133963;
}

.img-container.img-container.-third{
    background-color: #4d3a2e;
}



.projects .icon{
    height: 200px;
    width: 200px;
}

.projects .icon.-second{
    height: 200px;
    width: 200px;
}

.projects .icon.-third{
    height: 200px;
    width: 200px;
}