.banner{
    /*background-image: url(../../assets/img/PIXELARTLOGO.jpg);*/
    border-bottom: 10px solid hsl(0, 0%, 0%);
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;

    padding: 116px 0px 0px 91px;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .btn-nav{
    display: flex;
    justify-content: space-around;
}

.banner .box{
    margin-bottom: 38px;
}

/* SECTION 2*/

.banner.-second{
    align-items: center;
    background-color: #d7bea8;
    height: 740px;
    border-bottom: 10px solid hsl(0, 0%, 0%);
}

.title.-second{
    color: #b49286;
    text-shadow: 3px 3px black;
    font-size:40px;
    font-family: "Press Start 2p", sans-serif;
    margin-bottom: 28px;
}