.skill {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #FFF;
    margin-bottom: 15PX;
}

.skill .icon {
    margin-right: 25px;
    width: 90px;
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill .title {
    margin-bottom: 10px;
}

